################################# NOTE ##########################
# Rename to .env and place it in srcs/ dir
#################################################################

######### WP CREDS ########
WP_HOST=
WP_NAME=
WP_USER=
WP_PASS=
########## MARIADB CREDS ############
MYSQL_ROOT_PASSWORD=
WP_URL=
WP_ADMIN=
WP_ADMIN_PASS=
WP_ADMIN_EMAIL=
DB_NAME=
DB_USER=
DB_PASS=
######## FTP CREDS ########
FTP_USER=
FTP_PASS=
